@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;700&display=swap');
html{
  font-family: 'Source Code Pro', monospace;
}
.movie-app>.row{
  overflow-x:  auto;
  flex-wrap: nowrap;
}